.form-control{
    &.is-invalid{
        &::placeholder{
            color: #dc3545;
        }
    }
}
.bg-contain{
    border-radius: 50%;
    background-color: lightgray;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.spinner-border {
    vertical-align: sub;
}