.content-loading{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(255,255,255,.8);
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: 500ms ease all;
    &.active{
        transition: 0ms ease all;
        pointer-events: all;
        opacity: 1;
    }    
}